@{
    ViewData["Title"] = "Ana Sayfa | ";
}

<div style="text-align: center;">
    <h1 style="font-size: 5em; color:purple;">Hoş Geldiniz</h1>
    <br>
    <img src="/img/StudentTrackingSystem.jpg" alt="Student Tracking System">


</div>