@model Student

<form method="post">

	<div class="border p-3 mt-5">
		<div class="row pb-3">
			<h2 class="text-primary">Kitap Sil</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="StudentNo" class="p-0"> </label>
			<input asp-for="StudentNo" disabled class="form-control" />

		</div>
		<div class="mb-3">
			<label asp-for="StudentName" class="p-0"> </label>
			<input asp-for="StudentName" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="StudentSurname" class="p-0"> </label>
			<input asp-for="StudentSurname" disabled class="form-control" />
		</div>


		<button type="submit" class="btn btn-lg btn-primary" style="width:250px">Delete</button>

		<a asp-controller="Student" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
			Back to student
		</a>


	</div>

</form>