@model StudentTrackingSystem.Models.FileUploadModel

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Send Homework to @Model.Student.StudentName @Model.Student.StudentSurname (@Model.Student.StudentNo)
                </div>


                <div class="card-body">
                    <form asp-action="Upload" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <label asp-for="RarFile" class="control-label"></label>
                            <input type="file" asp-for="RarFile" class="form-control" id="fileInput" required style="margin-top:5px;" />
                            <span asp-validation-for="RarFile" class="text-danger"></span>
                        </div>
                        <div style="margin-top:10px;" class="form-group">
                            <input type="submit" value="Upload" class="btn btn-primary" />
                            <a asp-controller="Student" asp-action="Index" class="btn  btn-primary" style="width:200px">
                                Back to Students
                            </a>
                        </div>
                    </form>

                    <form asp-controller="Student" asp-action="DeleteHomework" method="post">
                        <input type="hidden" name="studentId" value="@Model.Student.Id" />
                        <button type="submit" class="btn btn-primary" style="width:200px">Delete Homework</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
